<p id="notice"><%= notice %></p>

<p>
<<<<<<< HEAD
  <strong>Name:</strong>
  <%= @user.name %>
=======
  <strong>Names:</strong>
  <%= @user.names %>
>>>>>>> origin/master
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<<<<<<< HEAD
=======
<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

>>>>>>> origin/master
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
